body{
  background-image: url("../images/darkForest.jpg");;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: lightslategrey;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p{
  font-size: 17px;
}
h1{
  color: MediumSeaGreen;
  font-size: 40px;
}
h2{
  color: rgb(255,182,193);
}
h6{
  color:#FFF0F5;
}
em{
  color:chartreuse;
}
